<% var meta = {description : 'test',title : 'gulp'}; %>
<% include _template %>
<% function contents() { %>

    <section>
      <p>sample</p>
      <div>
        <img src="<%= config.imgpath %>miffy.jpg" alt="" class="utility_pc-only">
      </div>
      <ul>
        <li><a href="modal.html">modal</a></li>
        <li><a href="modal_plugin.html">modal(plugin)</a></li>
        <li><a href="modal_method.html">modal(method)</a></li>
      </ul>
    </section>

<% } %>

<% function scripts() { %><% } %>