<% var meta = {description : 'test',title : 'gulp'}; %>
<% include _template %>
<% function contents() { %>

    <section>
      <p>Modal</p>
      <div>
        <img src="<%= config.imgpath %>miffy.jpg" alt="" class="utility_pc-only">
      </div>
      <ul>
        <li><a href="modal.html"><s>sample</s></a></li>
        <li><a href="modal_plugin.html">plugin</a></li>
        <li><a href="modal_method.html">method</a>(wip)</li>
      </ul>
    </section>

<% } %>

<% function scripts() { %><% } %>