<div data-modal="test3">
  <div class="c_modal_inner">
    <h2>Modal3 : duration 0</h2>
    <div class="c_modal_contents">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <button data-modal-close>close</button>
    </div>
  </div>
</div>