<div data-modal="test3">
  <div class="c_modal_inner">
    <h2>Modal3 : Ajax</h2>
    <div class="c_modal_contents">
      <p>Contents from modal_ajax.html</p>
      <button data-modal-close>close</button>
    </div>
  </div>
</div>