<% var meta = {description : 'n/a',title : 'modal'}; %>
<% include _template %>
<% function contents() { %>

<section>
  <div style="height:50vh;">
    <button data-launch-modal="test">Inline Modal 1</button>
    <button data-launch-modal="test2">Inline Modal 2</button>
  </div>
  <div style="height:200vh;">
    <button data-launch-modal="test3">Launch Modal Ajax</button>
    <button data-launch-modal="test4">Multiple Modal</button>
  </div>
</section>

<div data-modal="test">
  <div class="c_modal_inner">
    <button data-modal-close>X</button>
    <h2>Modal</h2>
    <div class="c_modal_contents">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam urna mi, venenatis in luctus ut, pulvinar et neque. Proin maximus iaculis tristique. Quisque non nibh ut tortor aliquam pretium id vitae dui. Etiam dui tortor, feugiat ut placerat id, mollis et nibh. Integer posuere feugiat eros quis lacinia. Mauris in risus at neque ultrices pharetra ut quis eros. Sed nec diam id eros dictum faucibus. Integer rhoncus in lectus eu egestas. Sed enim risus, semper nec lacinia id, consequat nec erat. Proin sollicitudin laoreet urna at tempus. Sed rhoncus dui porttitor convallis molestie. Proin mollis felis non libero malesuada volutpat. Aenean blandit id purus eget gravida. Quisque sodales purus at justo aliquet tempor. Suspendisse tincidunt urna in urna pulvinar, sed congue tellus lacinia. Ut lobortis nunc quis nulla ultricies elementum id at tortor.</p>
    </div>
  </div>
</div>
<div data-modal="test2">
  <div class="c_modal_inner">
    <button data-modal-close>X</button>
    <h2>Modal 2 : No Overlay</h2>
    <div class="c_modal_contents">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas auctor lacus nisl, in blandit ex fermentum ac. Pellentesque feugiat mauris vitae hendrerit consequat. Maecenas posuere ac sapien ac luctus. Vestibulum dictum, leo at ultricies vulputate, felis urna aliquam ligula, vitae varius eros diam nec mauris. Suspendisse consectetur elit eu arcu blandit fermentum. Integer scelerisque cursus magna vitae semper. Curabitur vulputate felis vel elementum suscipit. Mauris non faucibus neque.</p>
      <p>Etiam dignissim est at est varius, non mollis ipsum viverra. Donec ultricies erat sit amet ex malesuada, id pellentesque tortor volutpat. Nullam imperdiet metus nec massa auctor, sit amet mattis quam faucibus. Sed tristique aliquam leo id congue. Pellentesque vitae egestas metus. Sed scelerisque eros nec arcu porttitor dapibus. Donec et eros vitae nisi pharetra faucibus.</p>
      <p>Sed placerat luctus ex nec maximus. Integer quis dignissim elit. Aliquam eros orci, cursus vel egestas a, pulvinar non augue. Nullam arcu arcu, aliquet id magna at, mollis feugiat quam. Duis lobortis vehicula magna. Sed id purus bibendum, porta lacus et, ultricies orci. Aliquam dapibus arcu vitae purus eleifend, ut lobortis lectus placerat. Aliquam faucibus, nulla ac aliquet tincidunt, massa lectus semper enim, eget blandit erat orci at arcu. Nam condimentum magna vitae aliquet viverra. Nulla aliquet odio sit amet sapien fermentum eleifend.</p>
      <p>Nunc vestibulum, orci sit amet tristique blandit, elit tortor sodales nisi, vel auctor dui nisl in nisi. Nulla est tellus, tincidunt et mauris ac, hendrerit sollicitudin erat. Aenean in placerat magna, nec sodales ipsum. In vehicula augue lectus, sit amet malesuada odio accumsan eget. Ut non faucibus purus. Phasellus pharetra augue vitae ipsum sollicitudin, vitae porta velit vulputate. Aenean at turpis tincidunt, aliquam ex id, finibus orci. Vestibulum sem lectus, aliquet sit amet fermentum efficitur, suscipit ac libero. In sit amet neque eu est accumsan euismod vel non enim. Sed dictum justo sit amet libero imperdiet, sed pharetra ex elementum. Aliquam a volutpat metus. Aliquam eros est, egestas ac vestibulum sit amet, ornare et lorem. Pellentesque hendrerit volutpat nunc, ac iaculis turpis iaculis non. Donec ipsum ex, iaculis sed pellentesque sit amet, luctus nec tellus. Curabitur elementum ullamcorper felis nec pharetra. Proin aliquet cursus erat, ac mattis sem rhoncus efficitur.</p>
      <p>Fusce et aliquam arcu. Ut scelerisque tortor in sem sagittis iaculis. Phasellus facilisis aliquet nisi sit amet sagittis. Aliquam in risus pharetra, vestibulum diam molestie, malesuada erat. Ut in ullamcorper justo. Proin rhoncus felis sed neque ullamcorper auctor. Proin lacus sem, semper et venenatis sed, porta a augue. Donec pretium metus mollis ex cursus, malesuada porttitor enim condimentum. Sed pretium velit id odio ultricies, eget elementum velit laoreet. Aliquam dignissim nibh lectus, non fermentum neque ultrices at. Fusce in aliquam tortor.</p>
    </div>
  </div>
</div>
<div data-modal="test4">
  <div class="c_modal_inner">
    <button data-modal-close>X</button>
    <h2>Modal 4 : Multiple Modal</h2>
    <div class="c_modal_contents">
      <button data-launch-modal="test4a">Move to 4a</button>
    </div>
  </div>
</div>
<div data-modal="test4a">
  <div class="c_modal_inner">
    <button data-modal-close>X</button>
    <h2>Modal 4a : Multiple Modal</h2>
    <div class="c_modal_contents">
      <button data-launch-modal="test4">Move to 4</button>
      <button data-modal-close>Close</button>
    </div>
  </div>
</div>
<% } %>

<% function scripts() { %>
<script src="/js/lib/jquery-2.2.4.min.js"></script>
<script src="/js/modal_method.js"></script>
<script>
  $('[data-launch-modal="test"]').mooodal();
  $('[data-launch-modal="test2"]').mooodal({
    overlay: false
  });
  $('[data-launch-modal="test3"]').mooodal({
    method: 'ajax',
    contents: 'modal_ajax.html'
  });
  $('[data-launch-modal="test4"]').mooodal();
  $('[data-launch-modal="test4a"]').mooodal();
</script>
<% } %>