const config = {

  // 開発用サーバ設定
  server: {

    // trueでデバイス間のクリック・スクロールなども同期させる
    ghostMode: false,

    // external : プライベートIPでブラウザ起動
    // internal : localhostでブラウザ起動
    open : "internal",

    // デフォルトで開くパスを変更する場合は以下を修正
    startPath : '/'
  }
}

module.exports = {
  config: config
}